In [1]:
# импорт библиотеки создания базы данных
import sqlite3

## Создание базы данных объявлений о продаже недвижимости

In [3]:
# подключение к базе данных (в случае отсутствия база данных создается)
connection = sqlite3.connect('apartments.db')
# создание объекта подключения
cursor = connection.cursor()
print("База данных создана и успешно подключена к SQLite")

База данных создана и успешно подключена к SQLite

In [4]:
# вывод версии базы данных
sqlite_select_query = "select sqlite_version();"
cursor.execute(sqlite_select_query)
record = cursor.fetchall()
print("Версия базы данных SQLite: ", record)

Версия базы данных SQLite:  [('3.33.0',)]

## Создание таблицы "Справочник квартир"

In [5]:
# создание таблицы as_house_type
cursor.execute("""CREATE TABLE IF NOT EXISTS as_house_type(
   house_id INTEGER PRIMARY KEY,
   house_name TEXT UNIQUE)""")
connection.commit()

In [6]:
# тип дома
house_names = [(1, 'Вторичка'), (2, 'Новостройки')]

In [7]:
# запись типа дома в таблицу as_house_type
cursor.executemany("INSERT INTO as_house_type VALUES(?, ?)", house_names)
connection.commit()

In [8]:
# проверка внесения записи
cursor.execute("SELECT * FROM as_house_type;")
three_results = cursor.fetchmany(2)
print(three_results)

[(1, 'Вторичка'), (2, 'Новостройки')]

In [9]:
# удаление таблицы
#cursor.execute("DROP TABLE as_house_type")
#connection.commit()

In [10]:
# создание таблицы as_info
cursor.execute("""CREATE TABLE IF NOT EXISTS as_info(
   marker_id INTEGER PRIMARY KEY,
   href TEXT,
   title TEXT,
   house_id INTEGER,
   address TEXT,
   seller_id INTEGER,
   description TEXT NOT NULL,
   priority TEXT,
   params TEXT,
   map_lat TEXT,
   map_lon TEXT)""")
connection.commit()

In [11]:
# удаление таблицы
#cursor.execute("DROP TABLE as_info")
#connection.commit()

## Создание таблицы "Динамика стоимости и просмотров"

In [12]:
# создание таблицы as_history
cursor.execute("""CREATE TABLE IF NOT EXISTS as_history(
   marker_id INTEGER,
   price INT,
   val_id INT,
   views INT,
   date TEXT)""")
connection.commit()

In [13]:
# удаление таблицы
#cursor.execute("DROP TABLE as_history")
#connection.commit()

## Создание таблицы "Справочник единиц валюты"

In [14]:
# создание таблицы as_price_val
cursor.execute("""CREATE TABLE IF NOT EXISTS as_price_val(
   val_id INTEGER PRIMARY KEY,
   val_name TEXT UNIQUE)""")
connection.commit()

In [15]:
# удаление таблицы
#cursor.execute("DROP TABLE as_price_val")
#connection.commit()

In [16]:
# внесение записи в Справочник единиц валюты
cursor.execute("INSERT INTO as_price_val (val_name) VALUES('руб.');")
connection.commit()

In [17]:
# проверка внесения записи
cursor.execute("SELECT * FROM as_price_val;")
three_results = cursor.fetchmany(2)
print(three_results)

[(1, 'руб.')]

In [18]:
# вывод всех записей в таблице
cursor.execute("SELECT * FROM as_price_val;")
all_results = cursor.fetchall()
print(all_results)

[(1, 'руб.')]

## Создание таблицы "Справочник продавцов"

In [19]:
# создание таблицы as_seller_type
cursor.execute("""CREATE TABLE IF NOT EXISTS as_seller_type(
   type_id INTEGER PRIMARY KEY,
   type_name TEXT UNIQUE)""")
connection.commit()

In [20]:
# удаление таблицы
#cursor.execute("DROP TABLE as_seller_type")
#connection.commit()

In [21]:
# тип продавца
type_names = [(1, 'Агентство'), (2, 'Собственник'), (3, 'Застройщик')]

In [22]:
# запись наименований продавцов в таблицу as_seller_type
cursor.executemany("INSERT INTO as_seller_type VALUES(?, ?)", type_names)
connection.commit()

In [23]:
# вывод всех записей в таблице as_seller_type
cursor.execute("SELECT * FROM as_seller_type;")
all_results = cursor.fetchall()
print(all_results)

[(1, 'Агентство'), (2, 'Собственник'), (3, 'Застройщик')]

In [24]:
# создание таблицы as_seller_info
cursor.execute("""CREATE TABLE IF NOT EXISTS as_seller_info(
   seller_id INTEGER PRIMARY KEY,
   type_id INT,
   seller_name TEXT NOT NULL UNIQUE)""")
connection.commit()

In [25]:
# удаление таблицы
#cursor.execute("DROP TABLE as_seller_info")
#connection.commit()

## Вывод названий таблиц в базе данных apartments.db

In [26]:
# вывод наименований созданных таблиц
cursor.execute('SELECT name from sqlite_master where type= "table"')
print(cursor.fetchall())

[('as_house_type',), ('as_info',), ('as_history',), ('as_price_val',), ('as_seller_type',), ('as_seller_info',)]

In [27]:
# закрытие соединения с базой данных
connection.close()